 .u-section-1 {
  background-image:  url("hero-bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 492px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  text-shadow: 6px 3px 8px rgba(26,26,26,1);
  font-weight: normal;
  margin: 167px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }
} .u-section-2 {
  background-image: linear-gradient(#362b2b, #c7c0bf);
}

.u-section-2 .u-sheet-1 {
  min-height: 288px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 35px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 18px auto 60px 0;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 613px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  width: 473px;
  margin: 11px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  width: 140px;
  margin: 82px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 496px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 12px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 11px 0 25px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 90px -2px 0 12px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 496px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 79px 1px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 496px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 9px 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 127px 10px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 496px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 32px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 0 7px;
}

.u-section-3 .u-text-11 {
  font-weight: normal;
  margin: 55px 3px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 132px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 409px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 3px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 409px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 43px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 409px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 28px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }
}